/**
 * CSS is a slightly modified version of the Udacity React Contacts in class project.
 */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html, body, .root {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.5;
}
body, .app {
  background: #f5f5f5;
}
.valid {
  display: none;
}
.error {
  color: #FF0000;
  display: block;
}
.center {
  text-align: center;
}
/* CreatePost */

.create-posts-form {
  padding: 20px;
  max-width: 700px;
  margin: 0 auto;
  display: flex;
}

.create-posts-details {
  margin-left: 20px;
  flex: 1;
}


.create-posts-details input {
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 10px;
  font-size: inherit;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: 0;
}

.grey-button {
  margin-top: 20px;
  background: #ccc;
  padding: 10px;
  text-transform: uppercase;
  font-size: inherit;
  border: none;
  outline: 0;
}

/* ListPosts */

.list-posts-top {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.title-category {
  width: 100%;
  padding: 20px 20px 20px 60px;
  background-repeat: no-repeat;
  background-position: 20px center;
  background-size: 1.2em;
  font-size: 1.2em;
  border: 0;
  outline: none;
}

.showing-posts {
  text-align: center;
  margin: 20px 0;
}
.showing-posts button {
  color: blue;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: inherit;
}

.posts-list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.posts-list-item {
  background: white;
}

.posts-list-item, .list-posts-top, .filters {
  padding: 20px;
  display: flex;
}


@media (min-width: 600px) {
  .posts-list-item {
    margin: 20px;
    border: 1px solid #d5d8df;
    border-radius: 4px;
  }
}

.posts-details, .title-category {
  padding-left: 20px;
  //border-left: 1px solid #eee;

  flex: 1;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.filters button, .filters a {
  margin: 0 20px;
}

.list-posts-top button {
  margin: 0 20px;
}

.nav {
  background: #1c262f;
  border-bottom: 1px solid #1c262f;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  color: white;
  padding: 20px;
}

.nav h1 {
  text-align: center;
  padding: 0;
  margin: 0;
}

.nav a {
  margin: 0 20px;
  color: #02b3e4;
  right: -1.45em;
  top: 0.6em;
  text-decoration: none;
}

.posts-details p {
  margin: 0;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-remove, .post-create {
  padding-left: 20px;
  padding-right: 20px;
  align-self: center;
  background-color: transparent;
  background-size: 100% 100%;
  border: 0;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  outline: none;
  color: #02b3e4;
}